{% extends "base.html" %}

<html>

<head>
    <title>Login</title>
    <style type="text/css">
        .label {
            text-align: right
        }

        .error {
            color: red
        }
    </style>

</head>

<body>
    {% block content %}
    <h2>Login</h2>
    <form method="post">
        <table>
            <tr>
                <td class="label">
                    Username
                </td>
                <td>
                    <input type="text" name="username" value="{{username}}">
                </td>
            </tr>

            <tr>
                <td class="label">
                    Password
                </td>
                <td>
                    <input type="password" name="password" value="">
                </td>
            </tr>
        </table>
        {% if error %}
        <div class="error">
            {{error}}
        </div>
        {% endif %}
        
        <input type="submit" value="login"> or <a href="/signup">Signup</a>
    </form>
    {% endblock %}
</body>

</html>
